html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  z-index: 1;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('/assets/imgs/background_image.png');
  background-size: 100%;
}
